@font-face { font-family: "Graduate"; src: url("fonts/graduate.woff2") format("woff2"); font-display: swap; }
@font-face { font-family: "Bebas Neue"; src: url("fonts/bebas.woff2") format("woff2"); font-display: swap; }
@font-face { font-family: "Alfa Slab One"; src: url("fonts/alfaslab.woff2") format("woff2"); font-display: swap; }
@font-face { font-family: "Permanent Marker"; src: url("fonts/marker.woff2") format("woff2"); font-display: swap; }
@font-face { font-family: "Oswald"; src: url("fonts/oswald700.woff2") format("woff2"); font-weight: 700; font-display: swap; }
